@import "../../assets/styles/defaultStyles.scss";

.memberList {
    display: block;
    width: 80%;
}

.paginationContainer {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.message {
    display: flex;
    justify-content: center;
}

@media (min-width: $breakpoint-tablet) {
    .memberList {
        display: flex;
        flex-flow: wrap;
        width: 91%;
        justify-content: space-evenly;
        margin: auto 0;
    }

    .paginationContainer {
        max-width: 100%;
    }
}

@media (min-width: $breakpoint-computer) {
    .memberList {
        margin: auto;
    }
}