.goBackButton {
    margin: 10px;
}

.avatar {
    margin: auto;
    max-width: 350px;
}

.avatar img {
    height: 100%;
    width: 100%;
}

.memberName {
    display: flex;
    justify-content: center
}

.memberInfo {
    display: flex;
    flex-flow: column;
    text-align: center;
}