@import "../../assets/styles/defaultStyles.scss";

footer {
  margin-top: auto;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: $appColor;
  color: white;
  justify-content: center;
  align-items: center;
}

@media (min-width: $breakpoint-computer) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}